.aside .logo a::before {
    border-top: 4px solid #f5f25e;
    border-left: 4px solid #f5f25e;
}

.aside .logo a::after {
    border-right: 4px solid #f5f25e;
    border-bottom: 4px solid #f5f25e;
}

.contact .contact-info-item .icon .fa,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active {
    color: #f5f25e;
}

.blog-item .blog-item-inner .blog-img .blog-date,
.section-title h2::after,
.service .service-item .service-item-inner:hover .icon,
.section-title h2::before,
.about .about-content .skills .skills-item .progress-in,
.btn {
    background-color: #f5f25e;
}

.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before {
    background-color: #f5f25e;
}

.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after {
    background-color: #f5f25e;
}

.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.portofilo .portofilo-item .portofilo-info .icon .fa,
.portofilo .portofilo-filter button.active {
    color: #f5f25e;
}

.portofilo .portofilo-filter button.active {
    border-color: #f5f25e;
    ;
}

.home .intro .social-link a {
    background-color: #f5f25e;
}